@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.container{
    position: relative;
    max-width: 300px;
    width: 600px;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background-color: rgb(186, 45, 118);
    box-shadow: 0 5px 10px darkred;
}
.display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
    pointer-events: none;
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}
.button button:active{
    transform: scale(0.99);
}
.operator{
    color: purple;
}